.omotac {
    width: 80%;
    margin: auto;
    /* background-color: blue; */
    position: relative;
}

h1, h2 {
    text-align: center;
    background-color: yellow;
    padding: 10px;
    width: 100%;
}

.levi {
    position: absolute;
    left: 0;
    width: 45%;
    margin-left: 10%;
}

.desni {
    position: absolute;
    right: 0;
    width: 25%;
    margin-right: 10%;
}

span {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

th:nth-child(1), td:nth-child(5n - 4) {
    text-align: left;
}

tr {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

tr:first-child {
    border-top: 4px solid yellow;
}

tr:last-child {
    border-bottom: 4px solid yellow;
    background-color: lightgray;
}

tr:nth-child(3) {
    background-color: lightgray;
}

form, select, label, p {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
}

p, label{
    text-align: center;
}

input[type="submit"] {
    padding: 5px;
    margin: 5px;
    width: 100%;
    background-color: yellow;
    font-size: 12px;
}
