<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <title>Fabrike</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <h1 class="display-3 text-center">Pronadji fabrike</h1>
    </header>
    <main>
        <form id="pronadji" action="/fabrike" method="GET">
            <div>
                <label for="tip">Unesite tip fabrike:</label>
                <datalist id="lista_fabrika">
                    <option value="teska industrija">teska industrija</option>
                    <option value="laka industrija">laka industrija</option>
                    <option value="prehrambena industrija">prehrambena industrija</option>
                    <option value="ostalo">ostalo</option>
                </datalist>
                <input list="lista_fabrika" id="tip" name="tip">
            </div>
            <input type="submit" value="Pronadji">
        </form>
    </main>

    <script src="/js/jquery-3.4.1.min.js"></script>
</body>

</html>