<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pocetna</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Unesite podatke za pretragu</h1>

        <form method="get" action="/dogadjaji">
            Godina <input type="number" name="godina" value=""><br>
            Mesec <input type="number" name="mesec" value=""><br>
            Dan <input type="number" name="dan" value=""><br>
            <input type="submit" name="pretrazi" value="Pretrazi dogadjaje">
        </form>
    </body>
</html>
