<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pocetna stranica</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form method="get" action="/statistike/prikazi-statistike">
            Odaberi smer: <br>
            <select name="smer">
                <option value="I">Informatika</option>
                <option value="M">Matematika</option>
                <option value="A">Astronomija i astrofizika</option>
            </select> <br>
            <input type="submit" name="prikazi" value="Prikazi statistike">
        </form>
    </body>
</html>
