<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Stefan Novakovic</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/1.css" rel="stylesheet">
    </head>
    <body>
        <div class="omotac">
            <div class="levi">
                <h1>Tekuca statistika</h1>

                <form>
                    <label for="smer">Smer:</label>
                    <input type="text" name="smer" value="I" disabled>
                    <label for="broj">Broj studenata:</label>
                    <input type="number" name="broj" value="130" disabled>
                    <label for="prosek">Prosecna ocena:</label>
                    <input type="number" name="prosek" value="9.21" disabled>
                    <label for="student">Najistaknutiji na smeru:</label>
                    <input type="text" name="student" value="Laza Lazic" disabled>
                    <label for="datum">Datum unosa statistike:</label>
                    <input type="date" name="datum" value="dd-----yyyy">

                    <input type="checkbox" name="komentar" value="komentar">
                    <label for="komentar">Unesite komentar:</label>

                    <label for="sadrzaj">komentar:</label>
                    <textarea rows="3" cols="40" name="sadrzaj"></textarea>
                    <input type="submit" name="unesi" value="Unesi tekucu statistiku">
                </form>
            </div>

            <div class="desni">
                <h1>Istorija statistika za smer: Informatika</h1>

                <h3>Datum: asjfs</h3>
                <table>
                    <tr>
                        <th>Broj studenata:</th>
                        <td>175</td>
                    </tr>
                    <tr>
                        <th>Prosecna ocena:</th>
                        <td>8.85</td>
                    </tr>
                    <tr>
                        <th>Najistaknutiji na smeru:</th>
                        <td>Nenad</td>
                    </tr>
                </table>
                <p>Za potrebe ...</p>

                <h3>Datum: asjfs</h3>
                <table>
                    <tr>
                        <th>Broj studenata:</th>
                        <td>175</td>
                    </tr>
                    <tr>
                        <th>Prosecna ocena:</th>
                        <td>8.85</td>
                    </tr>
                    <tr>
                        <th>Najistaknutiji na smeru:</th>
                        <td>Nenad</td>
                    </tr>
                </table>

                <h3>Datum: asjfs</h3>
                <table>
                    <tr>
                        <th>Broj studenata:</th>
                        <td>175</td>
                    </tr>
                    <tr>
                        <th>Prosecna ocena:</th>
                        <td>8.85</td>
                    </tr>
                    <tr>
                        <th>Najistaknutiji na smeru:</th>
                        <td>Nenad</td>
                    </tr>
                </table>
                <p>Za potrebe ...</p>
            </div>
        </div>
    </body>
</html>

